!!! 5
html
  head
      meta(charset='utf-8')
      title MacGyver Example
      link(href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css', rel='stylesheet')
      link(href='css/vendor.css', rel='stylesheet')
      link(href='css/MacGyver.css', rel='stylesheet')

  body
    .container
      .row
        dl.dl-horizontal
          dt
            input(
              type="checkbox",
              onClick="$('body').toggleClass('loading-ads')"
            )
          dd Loading Ads...
          dt
            input(
              type="checkbox"
              onClick="$('body').toggleClass('loading-stats')"
            )
          dd Loading Stats...

          dt
            input(
              type="checkbox"
              onClick="$('body').toggleClass('loading-more-ads')"
            )
          dd Loading More Ads...

        .table-view-container
          a(href="#").search-box
            .icon
            .search-popover
          .t-header
          .t-body
            .t-row
              .row-block.one
                .first-cell
                  a(href="#").type-bar.blue
                  input(type="checkbox")
                  span.name Promote Account with a long name that wraps
              a(href="#").details-wrapper
                .arrow ▾
                .details
                  h4 Promote Account with a long name that wraps
                  .ad-preview
                    img(src="img/ad-preview.jpg")
                  dl.target-group.dl-horizontal
                    dt Gender
                    dd Men, Women
                    dt Location
                    dd United States
                    dt Age
                    dd 13-25
            .t-row
              .row-block.two
                .first-cell.blue
                  a(href="#").type-bar.green
                  input(type="checkbox")
                  span.name Another one
              a(href="#").details-wrapper
                .arrow ▾
                .details
                  h4 Another one
                  .ad-preview
                    img(src="img/ad-preview.jpg")
                  dl.target-group.dl-horizontal
                    dt Gender
                    dd Men, Women
                    dt Location
                    dd United States
                    dt Age
                    dd 13-25
            .t-row
              .row-block.three
                .first-cell
                  a(href="#").type-bar.red
                  input(type="checkbox")
                  span.name Some other ad with a sort of long name that wraps
              a(href="#").details-wrapper
                .arrow ▾
                .details
                  h4 Some other ad with a sort of long name that wraps
                  .ad-preview
                    img(src="img/ad-preview.jpg")
                  dl.target-group.dl-horizontal
                    dt Gender
                    dd Men, Women
                    dt Location
                    dd United States
                    dt Age
                    dd 13-25
            .t-row
              .row-block.two
                .first-cell.blue
                  a(href="#").type-bar.green
                  input(type="checkbox")
                  span.name Another one
              a(href="#").details-wrapper
                .arrow ▾
                .details
                  h4 Another one
                  .ad-preview
                    img(src="img/ad-preview.jpg")
                  dl.target-group.dl-horizontal
                    dt Gender
                    dd Men, Women
                    dt Location
                    dd United States
                    dt Age
                    dd 13-25
            .t-row
              .row-block.one
                .first-cell
                  a(href="#").type-bar.blue
                  input(type="checkbox")
                  span.name Promote Account with a long name that wraps
              a(href="#").details-wrapper
                .arrow ▾
                .details
                  h4 Promote Account with a long name that wraps
                  .ad-preview
                    img(src="img/ad-preview.jpg")
                  dl.target-group.dl-horizontal
                    dt Gender
                    dd Men, Women
                    dt Location
                    dd United States
                    dt Age
                    dd 13-25
            .t-row
              .row-block.two
                .first-cell.blue
                  a(href="#").type-bar.green
                  input(type="checkbox")
                  span.name Another one
              a(href="#").details-wrapper
                .arrow ▾
                .details
                  h4 Another one
                  .ad-preview
                    img(src="img/ad-preview.jpg")
                  dl.target-group.dl-horizontal
                    dt Gender
                    dd Men, Women
                    dt Location
                    dd United States
                    dt Age
                    dd 13-25
            .t-row
              .row-block.one
                .first-cell
                  a(href="#").type-bar.blue
                  input(type="checkbox")
                  span.name Promote Account with a long name that wraps
              a(href="#").details-wrapper
                .arrow ▾
                .details
                  h4 Promote Account with a long name that wraps
                  .ad-preview
                    img(src="img/ad-preview.jpg")
                  dl.target-group.dl-horizontal
                    dt Gender
                    dd Men, Women
                    dt Location
                    dd United States
                    dt Age
                    dd 13-25
            .t-row
              .row-block.two
                .first-cell.blue
                  a(href="#").type-bar.green
                  input(type="checkbox")
                  span.name Another one
              a(href="#").details-wrapper
                .arrow ▾
                .details
                  h4 Another one
                  .ad-preview
                    img(src="img/ad-preview.jpg")
                  dl.target-group.dl-horizontal
                    dt Gender
                    dd Men, Women
                    dt Location
                    dd United States
                    dt Age
                    dd 13-25
            .t-row
              .row-block.one
                .first-cell
                  a(href="#").type-bar.blue
                  input(type="checkbox")
                  span.name Promote Account with a long name that wraps
              a(href="#").details-wrapper
                .arrow ▾
                .details
                  h4 Promote Account with a long name that wraps
                  .ad-preview
                    img(src="img/ad-preview.jpg")
                  dl.target-group.dl-horizontal
                    dt Gender
                    dd Men, Women
                    dt Location
                    dd United States
                    dt Age
                    dd 13-25


          .t-footer
            .status-bar
              img(src="img/loading.gif")
              span.ads &nbsp;Loading Ads...
              span.stats &nbsp;Loading Stats...
              span.more-ads &nbsp;Loading More Ads...
            .placeholder

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js', type='text/javascript')
